{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% load bootstrap3 %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Sign Up</h1>
      <p>Please sign up to get more from your point to point experience</p>
    </div>
  </div>
</div>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      {% buttons %}
        <button type="submit" class="btn btn-primary" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% trans "Sign Up" %} &raquo;
        </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
