{% extends "default_base.html" %}

{% load static %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Welcome to Pamplesneak!</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<h1>Thanks for registrering, this is your profile</h1>
	  	<p>We understand there is nothing here, please calm your tits, we are working on making this better</p>
	  	<p>Why don't you go hang out in the game lobby and play something instead of complaining?</p>
	  	<p><a class="btn btn-warning" href="{% url 'pampleplay' %}" role="button">Play Now!</a></p>
	  </div>
	</div>
</div>
{% endblock %}