Django==1.6.5
django-bootstrap3==4.7.0
South==1.0
django-allauth==0.17.0
psycopg2==2.5.3
setproctitle==1.1.8
gunicorn==19.0.0
dj-static==0.0.6
django-dajaxice==0.6
django-dajax==0.9.2
tastypie==0.11.1