{% extends "default_base.html" %}

{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load static %}

{% block head %}
{% dajaxice_js_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "dist/js/jquery.dajax.core.js" %}" type="text/javascript" charset="UTF-8">></script>

<script>
function refresh_words(word_bank_size){
  Dajaxice.pamplesneak.refresh_words(Dajax.process,{'word_bank_size':word_bank_size});
}
</script>
{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="centered">
        <h1>Welcome to the Pamplesneak lobby!</h1>
        <p>Please wait here while we connect you with another player, or don't.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="centered">
          <h1>The word of the moment is<b> '{{ word }}'</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="centered">
          <h1><b>Your words are...!</b></h1>
          {% include "pamplesneak/wordbox.html" %}
          <button id="get_more_words_button" value="get words" class="btn btn-warning" onclick="refresh_words({{ word_bank_size }});")>Ready for more words!</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}