{% extends "default_base.html" %}

{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load static %}

{% block head %}
{% dajaxice_js_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "dist/js/jquery.dajax.core.js" %}" type="text/javascript" charset="UTF-8">></script>

<script>

function refresh_words(word_bank_size){
  Dajaxice.pamplesneak.refresh_words(Dajax.process,{'word_bank_size':word_bank_size});
}

function refresh_word(){
  Dajaxice.pamplesneak.refreshWord(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function refresh_in_game_stats(){
  Dajaxice.pamplesneak.refreshInGameStats(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function refresh_form(){
  Dajaxice.pamplesneak.refreshForm(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }},'csrfmiddlewaretoken': {{ csrf_token }}});
}

setInterval(function(){refresh_word();refresh_in_game_stats();},10000);

$(function(){
  refresh_word();
  refresh_in_game_stats();
});

function randomize_word(){
  Dajaxice.pamplesneak.randomizeWord(callback);
}

function callback(data){
  $("#id_word").val(data.random_word);
}

function word_succeed(){
  Dajaxice.pamplesneak.wordSuccess(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function word_fail(){
  Dajaxice.pamplesneak.wordFail(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function randomPlayer(){
   var array = document.getElementsByName('players');
   var randomNumber=Math.floor(Math.random()*{{player_count}});
   array[randomNumber].checked = true;
}

</script>
{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="centered">
        <p><h1>Welcome to the Pamplesneak game</h1></p>
        <p><h1>{{game.game_name}}!</h1></p>
        <a class="btn btn-warning" href="{% url 'pampleplay' %}" role="button">Back to Lobby</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="centered">
          {% include "pamplesneak/playerword.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <button id="random_word_button" class="btn btn-warning" value="Randomize Word" onclick="randomize_word();">
          Random Word
        </button>
        <button id="random_player_button" class="btn btn-warning" value="Randomize Player" onclick="randomPlayer();">
          Random Player
        </button>
        {% include "pamplesneak/messageform.html" %}
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseStats">
              Game Stats
            </a>
          </h4>
        </div>
        <div id="collapseStats" class="panel-collapse collapse">
          <div class="panel-body">
            {% include "pamplesneak/ingamestats.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}