{% extends "default_base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
    	<div class="centered">
      	<h1>Welcome to Pamplesneak!</h1>
    	</div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="centered">
		  <div class="col-md-4">
		    <h1>Participate, you big Pample.</h1>
          <a class="btn btn-warning" href="{% url 'pampleplay' %}" role="button">Play Now!</a>
		  </div>
		  <div class="col-md-4">
		    <h1>Referee, be the authority.</h1>
		    <a class="btn btn-warning" href="{% url 'pampleref' %}" role="button">Sign Up Ref!</a>
		  </div>
		  <div class="col-md-4">
		    <h1>Watch, monsieur voyeur.</h1>
		    <a class="btn btn-warning" href="{% url 'pamplewatch' %}" role="button">Watch Now!</a>
		  </div>
		</div>
	</div>
</div>
{% endblock %}