{% extends "default_base.html" %}

{% load static %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h1>Welcome to Pamplesneak!</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <h1>Participate, you big Pample.</h1>
	    <button class="btn btn-warning">Play Now!</button>
	  </div>
	  <div class="col-md-4">
	    <h1>Referee, someone controlling.</h1>
	    <button class="btn btn-warning">Sign Up Ref!</button>
	  </div>
	  <div class="col-md-4">
	    <h1>Watch, monsieur voyeur.</h1>
	    <button class="btn btn-warning">Watch Now!</button>
	  </div>
	</div>
</div>
{% endblock %}