{% extends "default_base.html" %}

{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load static %}

{% block head %}
{% dajaxice_js_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "dist/js/jquery.dajax.core.js" %}" type="text/javascript" charset="UTF-8">>
</script>

<script>
function refresh_game_info(){
  Dajaxice.pamplesneak.refreshWord(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function refresh_player_stats(){
  Dajaxice.pamplesneak.refreshPlayerStats(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

setInterval(function(){refresh_game_info(),refresh_player_stats()},10000);

$(function(){
  refresh_game_info();
  refresh_player_stats();
});
</script>

{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="centered">
        <h1>Welcome to the Pamplesneak lobby!</h1>
        <p>Hang out, choose a game or create one, we wont judge.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="centered">
      <h1>Can't see a game that interests you? Create one.</h1>
      <a class="btn btn-warning" href="{% url 'creategame' %}" role="button">Create a Game!</a>   
    </div>
  </div>
 </div>
</div>

<div class="container">
  {% if games_list %}
  <h1>Games going on right now</h1>
      {% for game in games_list %}
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Game Name:<span class="text-muted"> {{ game.game_name }}</span></h2>
            <h2 class="featurette-heading">Active Players:<span class="text-muted"> {{ game.active_players }}</span></h2>
            <div class="col-md-4">
              <a class="btn btn-warning" href="{% url 'joingame' game_id=game.id slug=game.slug %}" role="button">Join Game!</a>
            </div>
          </div>
        </div>
        <hr class="featurette-divider">
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}