{% extends "default_base.html" %}

{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load static %}

{% block head %}
{% dajaxice_js_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "dist/js/jquery.dajax.core.js" %}" type="text/javascript" charset="UTF-8">>
</script>

<script>
function refresh_game_info(){
  Dajaxice.pamplesneak.refreshWord(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

function refresh_player_stats(){
  Dajaxice.pamplesneak.refreshPlayerStats(Dajax.process,{'game_id':{{ game.id }},'player_id':{{ player.id }}});
}

setInterval(function(){refresh_game_info(),refresh_player_stats()},10000);

$(function(){
  refresh_game_info();
  refresh_player_stats();
});
</script>

{% endblock %}

{% block jumbotron %}
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="centered">
        <h1>Welcome to the Pamplesneak lobby!</h1>
        <p>Hang out, choose a game or create one, we wont judge.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="centered">
      <h1>Can't see a game that interests you? Create one.</h1>
      <a class="btn btn-warning" href="{% url 'creategame' %}" role="button">Create a Game!</a>   
    </div>
  </div>
 </div>
<div class="container">
  {% if games_list %}
  <h1>Games going on right now</h1>
      {% for game in games_list %}
      <div class="row">
        <div class="col-md-3">
          <table>
            <tr><td>Pamplesneak number:</td><td>{{ game.id }}</td></tr>    
            <tr><td>name:</td><td>{{ game.game_name }}</td></tr>
            <tr><td>players:</td><td>{{ game.active_players }}/{{ game.max_players }}</td></tr>
            <tr><td>word bank size:</td><td>{{ game.word_bank_size }}</td></tr>
          </table>
        </div>
        <div class="col-md-3">
          <a class="btn btn-warning" href="{% url 'joingame' game_id=game.id slug=game.slug %}" role="button">Join Game!</a>
        </div>
      </div>
      {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}